p.success {
    background: #CF9;
    border: 1px solid #060;
    width: 500px;
    margin: 5px;
    color: black;
    font-weight: bold;
    padding: 2px;
}

p.error {
    background: #f88;
    border: 1px solid #c00;
    width: 500px;
    margin: 5px;
    color: black;
    font-weight: bold;
    padding: 2px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

footer#footer {
    font-size: 0.8em;
    text-align: center;
    clear: both;
    width: 100%
}
